{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- breadcrumb start -->
<div class="breadcrumb-nav">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Checkout</li>
            </ol>
        </nav>
    </div>
</div>


<section class="section course-details section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <div class="course-header box">
                    <h6 class="p-2">Details</h6>
                    <hr>
                    <br>
                    <form action="{% url 'place_order' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="">First Name:</label>
                            {{form.first_name}}
                        </div>
                        <div class="form-group">
                            <label for="">Last Name:</label>
                            {{form.last_name}}
                        </div>
                        <div class="form-group">
                            <label for="">Email:</label>
                            {{form.email}}
                        </div>
                        <div class="form-group">
                            <label for="">Country:</label>
                            {{form.country}}
                        </div>
                        
                    

                </div>
            </div>

            <div class="col-lg-4">
                <div class="course-sidebar box">
                    <ul class="stickynav-tabs nav nav-tabs">
                        <li class="active"><a data-toggle="tab"> Your Order</a></li>
                        
                    </ul>
                    <br>
                    <ul>
                            {% for item in cart_items %}
                                <li id="cart-item-{{item.id}}" class="cart_items">
                                    <a class="link" href="{% url 'course_detail' item.course.slug %}">
                                        <div class="image-holder">
                                            <img src="{{item.course.image.url}}" alt="">
                                        </div>
                                        <div class="text-holder">
                                            
                                                <h6><b>{{item.course}}</b></h6>
                                            
                                        </div>
                                    </a>

                                    <div class="text-end align-items-start">
                                        <span class="fw-bold">${{item.course.price}}</span>
                                    </div>
                                    
                                    
                                </li>
                                
                            {% endfor %}
                        
                    </ul>
                    <hr>
                    <br>

                    <li style="list-style-type: none; font-weight: 600;" class="list-group-item d-flex justify-content-between align-items-center">
                        Total
                        <span class="text-end">
                            <span class="currency">$</span>
                            <span id="total">{{total_price|floatformat:0}}</span>
                        </span>
                    </li>

                    <button class="btn btn-theme btn-block w-100 p-2 mt-3" >
                        Proceed to Payment
                    </button>
                </div>
            </div>
        </form>
        </div>
    </div>

    
</section>

{% endblock %}