asgiref==3.8.1
decorator==5.2.1
Django==5.1.6
imageio==2.37.0
imageio-ffmpeg==0.6.0
moviepy==2.1.2
numpy==2.2.3
pillow==10.4.0
proglog==0.1.10
python-decouple==3.8
python-dotenv==1.0.1
sqlparse==0.5.3
tqdm==4.67.1
