{% extends 'base2.html' %}

{% load static %}


{% block content %}

    <!-- Navbar -->
    <div class="container">
        {% include 'includes/teach_nav.html' %}
        <!-- main -->
        <div class="main">
            <div class="topbar d-flex justify-content-between flex-grow-1">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>

                <div class="search">
                    <label>
                        <input type="text" placeholder="search..">
                        <ion-icon name="search-outline"></ion-icon>
                    </label>
                </div>
            </div>

            
            <!-- orders -->
            <div class="course_details">
                <div class="course_field">
                    <div class="card_header">
                        <h2>Modify Section</h2>
                    </div>
                    
                    <button class="btn btn-secondary" onclick="history.back()"><i class="fa fa-arrow-left"></i> &nbsp;</button>
                    <hr>
                    <form action="{% url 'edit_section' section.id %}" method="POST">
                        {% csrf_token %}
                        
                        <div class="form-group">
                            <label for="">Section Title</label>
                            {{form.section_title}}
                        </div>
                        <div class="form-group">
                            <label for="">Course</label>
                            {{form.course}}
                            
                        </div>
                        <div class="form-group">
                            <label for="">Order</label>
                            {{form.order}}
                            
                        </div>
                        <button style="margin-bottom: 20px;" type="submit" class="btn btn-theme btn-block btn-form"> <i class="fa fa-check" aria-hidden="true"></i> Update</button>
                        <a href="{% url 'delete_section' section.id %}" onclick="return confirm('Are you sure you to delete this section?')" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i>&nbsp; Delete</a> 
                    </form>
                </div>
            </div>
            
        </div>
    </div>



    {% include 'includes/alert.html' %}
{% include 'includes/style_switchers.html' %}
{% endblock %}