{% extends 'base2.html' %}

{% load static %}


{% block content %}

    <!-- Navbar -->
    <div class="container">
        {% include 'includes/teach_nav.html' %}
        <!-- main -->
        <div class="main">
            <div class="topbar d-flex justify-content-between flex-grow-1">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>

                <div class="search">
                    <label>
                        <input type="text" placeholder="search..">
                        <ion-icon name="search-outline"></ion-icon>
                    </label>
                </div>
            </div>

            
            <!-- orders -->
            <div class="course_details">
                <div class="course_field">
                    <div class="card_header">
                        <h2>Build Your sections</h2>
                    </div>
                    <div class="breadcrumb-container">
                        <div class="container">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="{% url 'course_builder' %}">Categories</a>
                                    </li>
                                    <li class="breadcrumb-item">
                                        <a href="{% url 'course_by_category' course.category.id %}">Courses</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">Section</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                    
                    <hr>
                    <div>
                        <h6 style="font-size: 20px;">{{course_name}}</h6>
                        {% if section %}
                        <a href="{% url 'add_section' %}" class="bt btn btn-theme">Add Section</a>
                        <a href="{% url 'add_video' %}" class="bt btn btn-theme">Add Video</a>
                        <table class="table table-hover table-borderless">
                            <thead>
                                <tr>
                                    <th>sections</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for set in section %}
                                <tr>
                                    <td>
                                        <a  class="category" href="{% url 'video_by_section' set.id %}">{{ set }}</a>
                                    </td>
                                    <td>
                                        <a href="{% url 'edit_section' set.id %}" class="btn btn-secondary btn-sm"><i class="fa fa-edit" aria-hidden="true"></i> &nbsp;Edit</a>
                                        <a href="{% url 'delete_section' set.id %}" onclick="return confirm('Are you sure you to delete this section?')" class="btn btn-danger btn-sm"><i class="fa fa-trash" aria-hidden="true"></i> &nbsp; Delete</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                        <h6>No Sections yet</h6>
                        <a href="{% url 'add_section' %}" class="bt btn btn-theme">Add Section</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            
        </div>
    </div>



    {% include 'includes/alert.html' %}
{% include 'includes/style_switchers.html' %}
{% endblock %}