{% load static %}

<!-- Main Wrapper start -->

<div class="main-wrapper">
    <!-- header start -->
    <header class="header">
        <div class="container">
            <div class="header-main d-flex justify-content-between align-items-center">
                <div class="header-logo">
                    <a href="{% url 'home' %}"><span>Study</span> Academy</a>
                </div>
                <button type="button" class="header-hamburger-btn js-header-menu-toggler">
                    <span></span>
                </button>
                <div class="header-backdrop js-header-backdrop"></div>
                <nav class="header-menu js-header-menu">
                    <button type="button" class="header-close-btn js-header-menu-toggler">
                        <i class="fas fa-times"></i>
                    </button>
                    <ul class="menu">
                        <li class="menu-items"><a href="{% url 'home' %}">Home</a></li>
                        <li class="menu-items menu-item-has-children">
                            <a href="{% url 'lectures' %}" class="js-toggle-sub-menu">Courses</a>
                            <!-- <ul class="sub-menu js-sub-menu">
                                <li class="sub-menu-items"><a href="#">course</a></li>
                                <li class="sub-menu-items"><a href="#">course details</a></li>
                            </ul> -->
                        </li>
                        {% if user.is_authenticated %}
                        <li class="menu-items"><a href="#">Cart<i style='font-size:15px' class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
                        <li class="menu-items"><a href="{% url 'my_account' %}">Account<i class="fa fa-user" style='font-size:15px'></i></a></li>
                        <li class="menu-items"><a href="{% url 'logout' %}">Logout <i class="fa fa-sign-out" style="font-size: 15px;"></i></a></li>
                        {% else %}
                        <li class="menu-items menu-item-has-children">
                            <a href="#" class="js-toggle-sub-menu"><i class="fa fa-sign-in" style="font-size: 20px;" aria-hidden="true"></i> <i class="fas fa-chevron-down"></i></a>
                            <ul class="sub-menu js-sub-menu">
                                <li class="sub-menu-items"><a href="{% url 'login' %}">Login</a></li>
                                <li class="sub-menu-items"><a href="{% url 'register_user' %}">Sigup</a></li>
                                <li class="sub-menu-items"><a href="{% url 'register_teacher' %}">Sigup as a Teacher</a></li>
                            </ul>
                        </li>
                        {% endif %}
                        <!-- <li class="menu-items"><a href="contact.html">Contact</a></li> -->
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <!-- header end -->
