{% load static %}


<div class="navigation banner-section">
            
    <ul>
        <li>
            <a href="" class="d-flex align-items-center">
                <span class="icon user">
                    {% if user_profile.profile_picture %}
                    <img src="{{user_profile.profile_picture.url}}" alt="">
                    {% else %}
                    <img src="img/testimonial/1.png" alt="">
                    {% endif %}
                </span>
                <span class="title text-capitalize">{{user.first_name}} {{user.last_name}}</span>
            </a>   
            <small class="icon" style="color: #fff; display: flex; align-items: flex-start; justify-content: center; margin-top: 10px;"><b>Student</b></small>
        </li>
        <li>
            <a href="{% url 'home' %}">
                <span class="icon">
                    <ion-icon name="home-outline"></ion-icon>
                </span>
                <span class="title text-capitalize">Home</span>
                
            </a>
        </li>
        <li>
            <a href="{% url 'student' %}">
                <span class="icon">
                    <ion-icon name="speedometer-outline"></ion-icon>
                </span>
                <span class="title text-capitalize">dashboard</span>
                
            </a>
        </li>
        <!-- <li>
            <a href="">
                <span class="icon">
                    <ion-icon name="people-outline"></ion-icon>
                </span>
                <span class="title text-capitalize">teachers</span>
            </a>
        </li> -->
        <li>
            <a href="{% url 'learning' %}">
                <span class="icon">
                    <ion-icon name="book-outline"></ion-icon>
                </span>
                <span class="title text-capitalize">learning</span>
            </a>
        </li>
        <li>
            <a href="{% url 'my_reviews' %}">
                <span class="icon">
                    <ion-icon name="chatbox-ellipses-outline"></ion-icon>
                </span>
                <span class="title text-capitalize">give reviews</span>
            </a>
        </li>
        <li>
            <a href="{% url 'stud_profile' %}">
                <span class="icon">
                    <ion-icon name="settings-outline"></ion-icon>
                </span>
                <span class="title text-capitalize">profile settings</span>
            </a>
        </li>
        <br>
        <hr>
        <li>
            <a href="{% url 'logout' %}" style="margin-top: 50px;">
                <span class="icon">
                    <ion-icon name="log-out-outline"></ion-icon>
                </span>
                <span class="title text-capitalize">sign out</span>
            </a>
        </li>
    </ul>
</div>