{% load static %}

<div class="navigation banner-section">
            
    <ul>
        <li>
            <a href="" class="d-flex align-items-center">
                <span class="icon user">
                    <img src="img/testimonial/1.png" alt="">
                </span>
                <span class="title text-capitalize">John Doe</span>
            </a>   
            <small class="icon" style="color: #fff; display: flex; align-items: flex-start; justify-content: center; margin-top: 5px;">Web Developer</small>
        </li>
        <li>
            <a href="home.html">
                <span class="icon">
                    <ion-icon name="home-outline"></ion-icon>
                </span>
                <span class="title text-capitalize">Home</span>
                
            </a>
        </li>
        <li>
            <a href="">
                <span class="icon">
                    <ion-icon name="speedometer-outline"></ion-icon>
                </span>
                <span class="title text-capitalize">dashboard</span>
                
            </a>
        </li>
        <li>
            <a href="">
                <span class="icon">
                    <ion-icon name="people-outline"></ion-icon>
                </span>
                <span class="title text-capitalize">students</span>
            </a>
        </li>
        <li>
            <a href="">
                <span class="icon">
                    <ion-icon name="chatbox-ellipses-outline"></ion-icon>
                </span>
                <span class="title text-capitalize">course builder</span>
            </a>
        </li>
        <li>
            <a href="">
                <span class="icon">
                    <ion-icon name="chatbox-ellipses-outline"></ion-icon>
                </span>
                <span class="title text-capitalize">reviews</span>
            </a>
        </li>
        <li>
            <a href="">
                <span class="icon">
                    <ion-icon name="settings-outline"></ion-icon>
                </span>
                <span class="title text-capitalize">profile settings</span>
            </a>
        </li>
        <br>
        <hr>
        <li>
            <a href="" style="margin-top: 50px;">
                <span class="icon">
                    <ion-icon name="log-out-outline"></ion-icon>
                </span>
                <span class="title text-capitalize">sign out</span>
            </a>
        </li>
    </ul>
</div>